[submodule "site-elisp/color-rg"]
    path = site-elisp/color-rg
    url = https://github.com/manateelazycat/color-rg.git
[submodule "site-elisp/delete-block"]
    path = site-elisp/delete-block
    url = https://github.com/manateelazycat/delete-block.git
